# 应用配置
PUBLIC_DIR=.output/public

# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_password
DB_DATABASE=nuxt_blog

# OSS 配置（可选）
ALI_OSS_REGION=your_oss_region
ALI_ACCESS_KEY_ID=your_access_key_id
ALI_ACCESS_KEY_SECRET=your_access_key_secert
ALI_OSS_BUCKET=your_bucket
